<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body})}">
<head>
    <title>Análise de Crédito</title>
</head>
<body>
<div class="container">
	<div class="form-container">
    <h2>Análise de Crédito</h2>
    <form th:action="@{/credit-analysis}" method="post">
        <div class="form-group">
            <label>Score Serasa:</label>
            <input type="text" name="score" required/>
        </div>
        <div>
            <button type="submit">Analisar Crédito</button>
        </div>
    </form>
	</div>

    <h3>Histórico de Análises</h3>
    <table class="table-container">
        <thead>
            <tr>
                <th>Data</th>
                <th>Score</th>
                <th>Resultado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="analysis : ${analyses}">
                <td th:text="${#temporals.format(analysis.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${analysis.inputData}"></td>
                <td th:text="${analysis.result}"></td>
                <td>
                    <a th:href="@{/analysis/edit/{id}(id=${analysis.id})}">Editar</a> |
                    <a th:href="@{/analysis/delete/{id}(id=${analysis.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
